.logo{width: 70px;
    padding: 0px;
    display: flex;
    align-content: center;
}

h1{
    font-size: 30px;
    margin: 10px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    background-color: blue;
    display: flex;
    justify-content:center ;
    padding: 2px;    
}

li{
    background-color: blue;
    padding: 20px;
}

ul{
    background-color: blue;
    width: 100%;
    margin-top: auto;
    padding: 2px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-content: space-between baseline;
}

a{
    text-decoration: none;
    color: antiquewhite;
}
   
.torres{
    margin: 5px;
    padding: 10px;
    display: flex;
    align-items: stretch;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: space-around   

}

.columna{
    width: 45%;
    box-sizing: border-box;
    padding: 5px;

}

.columna.izquierda{
    border-right: 3px solid blue;
    font-family: 'Times New Roman', Times, serif; 
    
}

h2{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.columna.derecha{
    font-family: 'Times New Roman', Times, serif; 
    
}

.columna.derecha ul li{
    font-family: Arial, Helvetica, sans-serif; color: antiquewhite;
    font-size: 0.8em;
}

.formulario label{
    vertical-align: top;
    width: 20%;
    display: inline-block;
}

.formulario input,
.formulario textarea{
    border-radius: 5px;
    padding: 0.4em 0.6em;
    font-size: 0.8em;
    width: 70%;
}

.formulario input[type="submit,reset"]{
    color: antiquewhite;
    font-size: 1em;
    width: auto;
    cursor: pointer;
}

.formulario textarea{
    height: 10em;
    resize: none;
}

.formulario.acciones{
    text-align: center;
}



