*{
    box-sizing: border-box;
}

.h1{
    padding: 20px;
    margin: auto;
    display: flex;
    align-content: space-around;
}

.img{
    width: 45%;
    margin: 2px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center
    }



.galeria{
    display: flex;
    flex: 9+;
    padding: 5px;
}
