*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.experiencia{
   padding: 0 20px ;

}
.c-v-conteiner{
    width: 140px;;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.
