main{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.logo{width: 70px;
    padding: 0px;
    display: flex;
    align-content: center;
}

h1{
    font-size: 30px;
    margin: 10px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    background-color: blue;
    display: flex;
    justify-content:center ;
    padding: 2px;    
}

li{
    background-color: blue;
    padding: 20px;
}

ul{
    background-color: blue;
    width: 100%;
    margin-top: auto;
    padding: 2px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-content: space-between baseline;
}

a{
    text-decoration: none;
    color: antiquewhite;
}
.image-conteiner{
    display: flex;
    justify-content: center;    
    width: 100%;
    border: 3px solid rgb(231, 226, 226);    
}
img{
    width: 100%;
}

.inicial{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items:flex-start ;           
}



.entrada{
    padding: 5px;
    margin: 10px;
    border: solid black;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: nowrap;
    justify-content: space-between;
    justify-content: space-evenly;

}


footer{
    background-color: rgb(64, 64, 235);
    display: flex;
    flex-direction: row;
    justify-content: center;
}